[Unit]
Description=Coke Docker Compose Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=whoami
WorkingDirectory=/home/whoami/coke
ExecStart=/usr/bin/docker compose -f /home/whoami/coke/docker-compose.prod.yml up -d --build
ExecStop=/usr/bin/docker compose -f /home/whoami/coke/docker-compose.prod.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
